<%= render "components/banner" %>



<p class="btn btn-flat" href="#"><%= link_to 'Create a movie list', new_list_path %></p>


<div class="cards">
  <% @lists.each do |list| %>
    <%= link_to list_path(list) do %>
      <% if list.photo.attached? %>
      <div class="card-list" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url('<%= cl_image_path list.photo.key%>')"><p class='list-name'><%= list.name %></p></div>
      <% else %>
      <div class="card-list" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url('https://media.istockphoto.com/photos/popcorn-and-clapperboard-picture-id1191001701?k=20&m=1191001701&s=612x612&w=0&h=uDszifNzvgeY5QrPwWvocFOUCw8ugViuw-U8LCJ1wu8=')"><p class='list-name'><%= list.name %></p></div>
      <% end %>
    <% end %>
  <% end %>
</div>
