
<div class='container'>
  <h1>Showing list <%= @list.name %></h1>

  <p class="btn btn-flat" href="#"><%= link_to 'Back to all lists', lists_path %></p>
  <p class="btn btn-flat" href="#"><%= link_to 'Add bookmark', new_list_bookmark_path(@list) %></p>




  <%#
  <div class="card-list" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(<%= @list.image_url %>
  <%# )"><p class='list-name'><%= @list.name</p></div> %>

  <%# list.boomarks --> ciclo --> bookmark.comment bookmark.movie.title %>

  <% if @list.bookmarks.first %>
    <h3>Bookmarks</h3>
    <% @list.bookmarks.each do |bookmark| %>
      <div class='bookmark-container container d-flex mb-3 align-items-center'>
        <%= image_tag bookmark.movie.poster_url, class:'movie-poster' %>
        <div class='movie-container d-flex flex-column p-3'>
          <div class='d-flex justify-content-between '>
            <h3><%= bookmark.movie.title  %></h3>
            <h3><i class="fa-solid fa-star"></i> <%= bookmark.movie.rating  %></h3>
          </div>
          <p><%= bookmark.movie.overview  %></p>
          <div class='d-flex justify-content-between'>
            <em><%= bookmark.comment  %></em>
            <%= link_to bookmark_path(bookmark),  method: :delete, data: { confirm: "Are you sure?" } do %>
            <div class="btn btn-flat">
              Delete Bookmark
            </div>
            <% end %>
          </div>
        </div>
      </div>
    <% end %>
  <% else %>
    <p>There is no bookmark yet!</p>
  <% end %>




</div>
