<div class= 'container-form'>
  <h1>Bookmark for <%= @list.name %></h1>
  <%= simple_form_for [@list, @bookmark] do |f| %>
    <%= f.association :movie%>
    <%= f.input :comment %>
    <%= f.submit %>
  <% end %>
</div>
